<h1><%= @user.first_name %></h1>
<h2><%= @user.city %>, <%= @user.country %> - <%= @user.sex %></h2>
<h3>ID #<%= @user.id %></h3>
<h4>Seeking: <%= @user.seeking_sex_type %>s</h4>
<h4>Last Active: <%= @user.last_sign_in_at %></h4>
